.image-preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 16px;
    max-width: 90%;
}

.image-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.image-preview-content img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
}